<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= "http://www.riodcachaca.com/media/cocktails/fullresolution/martinis/passionpomegranateJPG.jpg" %>);">
        <div class="card-description">
          <h2><%= cocktail.name %></h2>
        </div>
        <%= link_to "", cocktail, class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
